
.gradient-blue {
    background-color: #cddeff;

}

.gradient-pink {
    background-color: #ffd4d2;

}

.gradient-yellow {
    background-color: #f8f0cc;
}

.gradient-green {
    background-color: #c3e3e0;
}

/* gradient image backgrounds */

.gradient-img-blue {
    background-image: linear-gradient(to bottom, rgba(199, 229, 245, .7) 0%, rgba(224, 195, 252, .9) 100%);
}

.gradient-img-pink {
    background-image: linear-gradient(to bottom, rgba(255, 206, 203, .7) 0%, rgba(230, 249, 255, .9) 100%);
}

.gradient-img-yellow {
    background-image: linear-gradient(to bottom, rgba(237, 227, 223, .7) 0%, rgba(247, 206, 104, .9) 100%);
}

.gradient-img-green {
    background-image: linear-gradient(to bottom, rgba(140, 197, 249, .7) 0%, rgba(128, 208, 199, .9) 100%);
}

.svg-rotate-animation {
    animation: rotate 60s ease-in-out infinite;
}

@keyframes rotate {
    2% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}

/* fonts in body */

body {
    font-family: "vremenagrotesk", sans-serif !important;
    font-size: 1.125rem !important;
    font-weight: 400 !important;
    line-height: 1.6 !important;
    margin: 0 !important;
    color: #212529;
    text-align: left !important;
    background-color: #fff !important;
}

.text-primary {
    color: #bcac76 !important;
}


/* blob */

.blob-visibility{
    z-index: 10;
}

@media only screen and (max-width: 992px) {
    .blob-visibility{
        z-index: 0;
    }
}


/* svg color */

:root{
    --layer1:#e0d4ab;
}

/*   bootstrap nav fixed on scroll up */

.header {
    z-index: 100;
    background: transparent;
    position: fixed;
    top: -1% !important;
    width: 100%;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.header-social-btn {
    font-size: 1rem;

}

.nav-item {
    margin-right: .5rem;
}

.nav-item:last-child {
    margin-left: 2rem;
}

@media (max-width: 992px) {
    .header {
        background: #fff;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    }
}

.scroll-down .header {
    transform: translate3d(0, -100%, 0);
}

.scroll-up .header {
    transform: none;
}

.scroll-up:not(.menu-open) .header {
    background: rgba(280, 280, 280, .9);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    color: black;
}

/* bootstrap nav default killer */

.dropdown-menu {
    border: none;
    text-align: left;
    padding-left: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);

}

.navbar-light .navbar-toggler {
    border: none;
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}

.navbar-bran {
    outline: none;
    border: none;
}

.dropdown-toggle::after {
    display: none;
}

.nav-link {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    text-transform: uppercase;
    font-size: 0.875rem;


}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #bcac76 !important;

}

/* responsive navbar padding */

@media only screen and (max-width: 992px) {

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .dropdown-menu {
        text-align: left;
        box-shadow: none;
    }

    .dropdown-toggle::after {
        display: inline-block;
    }

    .navbar-nav {
        padding-top: 3rem;
        padding-left: 2rem;
    }

    .navbar-collapse, .navbar-nav {
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 10;
        -webkit-transition: all ease-in 300ms;
        -moz-transition: all ease-in 300ms;
        -ms-transition: all ease-in 300ms;
        -o-transition: all ease-in 300ms;
        transition: all ease-in 300ms;
        overflow: auto;
        opacity: 0;
        max-height: none;
    }

    .menu-open {
        overflow: hidden;

    }

    .menu-open .header .navbar-collapse, .navbar-nav {
        display: block;
        opacity: 1;
        -webkit-transition: all ease-in 300ms;
        -moz-transition: all ease-in 300ms;
        -ms-transition: all ease-in 300ms;
        -o-transition: all ease-in 300ms;
        transition: all ease-in 300ms;

    }

    .nav-item:last-child {
        margin-left: 0;
    }

}

/* bootstrap hamburger animation*/

.first-button {
    z-index: 101;
}

.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: inline-block;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: rgba(0, 0, 0, .5);
}

.animated-icon2 span {
    background: rgba(0, 0, 0, .5);
}

.animated-icon3 span {
    background: rgba(0, 0, 0, .5);
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/*  svg property */
svg {
    overflow: hidden;
    vertical-align: middle;
}

.svg-blob {
    position: absolute;
    width: 600px;
    height: 600px;
}

/*  sticky footer */

.sticky {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.sticky-wrap {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/* Swipper slider */

.swiper-slade-img{
    position: absolute;
    top:0;
    left: 0;
   width: 100%;

}


.swiper-pagination-bullet-active {
    opacity: 1;
    background: #bcac76;
}

.swiper-button-next, .swiper-button-prev {
    display: none;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    margin-top: 5rem;
}

.letter-spacing-3 {
    letter-spacing: .3em;
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.3;
}

.subtitle {
    margin-bottom: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #868e96;

}


@media screen and (max-width: 767.98px) {


    .display-3, .display-4 {
        font-size: 2.7rem;
    }

    .swiper-container {
        margin-top: 2rem;
    }
}


.btn-outline-primary {
    color: #bcac76;
    border-color: #bcac76;
    border-radius: 0;
}

.btn-outline-primary:hover {
    color: #212529;
    background-color: #bcac76;
    border-color: #bcac76;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    -webkit-transition: all 300ms !important;
    -moz-transition: all 300ms !important;
    -ms-transition: all 300ms !important;
    -o-transition: all 300ms !important;
    transition: all 300ms !important;
}

/* second section */

.banner {
    position: relative;
    overflow: hidden;
    min-height: 400px;
}

.banner .banner-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 70%;
    text-align: center;
}

.banner .banner-text {
    position: relative;
    text-align: center;
    z-index: 10
}

.banner .banner-link::after {
    z-index: 11;
}

.banner img.bg-image, .banner img.img-fluid {
    transition: all .3s
}

.banner:hover img.bg-image, .banner:hover img.img-fluid {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

@media screen and (max-width: 992px) {
    .banner {
        min-height: 350px;
    }

    .banner-text {
        padding: 1.25rem !important;
    }
}

@media screen and (max-width: 576px) {
    .banner {
        min-height: 250px !important;
    }
}

.text-sm {
    font-size: .875rem;
}

.subtitle {
    margin-bottom: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #868e96;
    font-weight: bold;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.banner-link::after {
    z-index: 11;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}

/* ==================================================*/

/*  post-view page */

.blockquote-2 {
    padding: 1.25rem 2rem;
    border-left: 3px solid #ffcecb;
}

.blockquote-2 > p::before {
    content: open-quote;
}

.blockquote-2 > p::after {
    content: close-quote;
}

/* ================================================= */

/* about-view page  */

.heading-xxs {
    font-size: .8125rem;
    font-weight: 500;
    letter-spacing: .02em;
    text-transform: uppercase;
    font-weight: 600;
}

.text-gray-400 {
    color: #909090 !important;
}

.text-muted {
    color: #767676 !important;
}

.font-size-lg {
    font-size: 1.125rem !important;
}

.font-size-h5 {
    font-size: 1.5rem !important;
}

.background-img-overlap-left {
    background: linear-gradient(to right, rgb(245, 245, 245) 0%, rgb(245, 245, 245) 50%, transparent 50%, transparent 100%);
    padding: 4rem;

}

.img-overlap-left {
    -webkit-transform: translatex(4rem);
    -moz-transform: translatex(4rem);
    -ms-transform: translatex(4rem);
    -o-transform: translatex(4rem);
    transform: translatex(4rem);
    float: right;
}

.background-img-overlap-right {
    background: linear-gradient(to left, rgb(245, 245, 245) 0%, rgb(245, 245, 245) 50%, transparent 50%, transparent 100%);
    padding: 4rem;
}

.img-overlap-right {
    -webkit-transform: translatex(-4rem);
    -moz-transform: translatex(-4rem);
    -ms-transform: translatex(-4rem);
    -o-transform: translatex(-4rem);
    transform: translatex(-4rem);
    float: left;
}

@media screen and (max-width: 767.98px) {
    .img-overlap-left {
        -webkit-transform: translatex(0) !important;
        -moz-transform: translatex(0) !important;
        -ms-transform: translatex(0) !important;
        -o-transform: translatex(0) !important;
        transform: translatex(0) !important;
    }

    .background-img-overlap-left {
        background: none;
        padding: 1rem;
        float: none;
    }

    .background-img-overlap-right {
        background: none;
        padding: 1rem;
    }

    .img-overlap-right {
        -webkit-transform: translatex(0) !important;
        -moz-transform: translatex(0) !important;
        -ms-transform: translatex(0) !important;
        -o-transform: translatex(0) !important;
        transform: translatex(0) !important;
        float: none;
    }

    .font-size-h5 {
        font-size: 1.375rem !important;
    }
}

.blockquote > p::before {
    content: open-quote;
}

.blockquote > p::after {
    content: close-quote;
}

.swiper-container-review {
    min-height: 300px;
    margin-top: 0 !important;
}

@media screen and (max-width: 576px) {
    .swiper-container-review {
        min-height: 400px;;
    }
}

/* portfolio page*/

.lift {
    -webkit-transition: box-shadow .25s ease, -webkit-transform .25s ease;
    transition: box-shadow .25s ease, -webkit-transform .25s ease;
    transition: box-shadow .25s ease, transform .25s ease;
    transition: box-shadow .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.shadow-light-lg {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.card-body {
    color: inherit;
    position: relative;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 3rem;
    display: block;
    -webkit-box-flex: 0;
    flex-grow: 0;

}

.card-img, .card-img-top {
    border-top-left-radius: calc(.375rem - 0px);
    border-top-right-radius: calc(.375rem - 0px);
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    position: relative;
}

h6.text-uppercase, h6.text-uppercase {
    letter-spacing: .08em;
}

a.card-body:hover, a.card-footer:hover, a.card-meta:hover, a.card:hover {
    text-decoration: none;
}

.lift-lg:focus, .lift-lg:hover {
    box-shadow: 0 2rem 5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .05) !important;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
}

.card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f1f4f8;
    border-radius: .375rem;
}

a.card, a.card-body {
    color: inherit;
}

@media (max-width: 992px) {
    .card-img-top {
        height: 250px;
    }
}

@media (max-width: 576px) {
    h4 {
        font-size: 1.0625rem;
    }

    .card-img, .card-img-top {
        height: 200px;
    }

}

/* contact page */

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-label {
    color: #212529;
    font-weight: bold;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.6em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control.form-control-underlined {
    padding-left: 0;
    transition: all .5s;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
}

textarea.form-control {
    height: auto;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #d5cba9;
    outline: 0;
    box-shadow: none;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(188, 172, 118, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #bcac76;
    border-color: #bcac76;
}

.list-inline-item a {
    color: #bcac76;
    text-decoration: none;
    background-color: transparent;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.list-inline-item a:hover {
    color: #9a884b;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

/* history page */


.letter-spacing-5 {
    letter-spacing: .5em;
    font-weight: 600;
}

.blockquote-icon {
    padding-top: 1rem;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 508.044 508.044' style='enable-background:new 0 0 508.044 508.044;' fill='%23dcd4b8' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M0.108,352.536c0,66.794,54.144,120.938,120.937,120.938c66.794,0,120.938-54.144,120.938-120.938 s-54.144-120.937-120.938-120.937c-13.727,0-26.867,2.393-39.168,6.61C109.093,82.118,230.814-18.543,117.979,64.303 C-7.138,156.17-0.026,348.84,0.114,352.371C0.114,352.426,0.108,352.475,0.108,352.536z'/%3E%3Cpath d='M266.169,352.536c0,66.794,54.144,120.938,120.938,120.938s120.938-54.144,120.938-120.938S453.9,231.599,387.106,231.599 c-13.728,0-26.867,2.393-39.168,6.61C375.154,82.118,496.875-18.543,384.04,64.303C258.923,156.17,266.034,348.84,266.175,352.371 C266.175,352.426,266.169,352.475,266.169,352.536z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;

}

.text-xl {
    font-size: 2rem;
}

.text-lg {
    font-size: 1.25rem;
}

.avatar.avatar-xxl {
    width: 10rem;
}

.avatar {
    display: inline-block;
    position: relative;
    width: 3rem;
    height: auto;
    max-width: 100%;
    text-align: center;
    border: #dee2e6;
    border-radius: 50%;
    background: #fff;
    line-height: 3rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    -webkit-transition: box-shadow .25s ease, -webkit-transform .25s ease;
    transition: box-shadow .25s ease, -webkit-transform .25s ease;
    transition: box-shadow .25s ease, transform .25s ease;
    transition: box-shadow .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.avatar-link:hover > .avatar {
    box-shadow: 0 2rem 5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .05) !important;
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
}

/* team page */

.team-item-img {
    background-position: 50% 30%;
}

/* team item page */

.background-team-item {
    background: linear-gradient(to left, rgb(245, 245, 245) 0%, rgb(245, 245, 245) 40%, transparent 40%, transparent 100%);
}

@media screen and (max-width: 992px) {
    .background-team-item {
        background: none;
    }
}

/* news page */

.news-image-section-left {
    float: right;
}

.news-image-section-right {
    float: left;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 400;
    line-height: 1.3;
}

.card-item-news-odd {
    -webkit-transform: translate(-4rem, 2rem);
    -moz-transform: translate(-4rem, 2rem);
    -ms-transform: translate(-4rem, 2rem);
    -o-transform: translate(-4rem, 2rem);
    transform: translate(-4rem, 2rem);
    z-index: 10;
}

.card-item-news-even {
    -webkit-transform: translate(4rem, 2rem);
    -moz-transform: translate(4rem, 2rem);
    -ms-transform: translate(4rem, 2rem);
    -o-transform: translate(4rem, 2rem);
    transform: translate(4rem, 2rem);
    z-index: 10;
}

@media (max-width: 767.98px) {
    .display-2 {
        font-size: 3rem;
    }

    .card-item-news-odd, .card-item-news-even {
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
        z-index: 10;
    }
}

/* gallery page */

.masonry-image, .masonry-video {
    margin-bottom: 30px;
}

/* zoom in effect in gallery magnific popup*/

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}
/* counter for images */

.mfp-counter {
    display: none;
}

/* video iframe wrapper */
.video-wrapper-main {
    position: relative;
    height: 60vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.video-wrapper {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);

}

.video-wrapper iframe, .video-wrapper-main iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-lift:hover {
    box-shadow: 0 2rem 5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .05) !important;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
}

/* audio page */

.card-img-audio {
    border-top-left-radius: calc(.375rem - 0px);
    border-top-right-radius: calc(.375rem - 0px);
    flex-shrink: 0;
    width: 100%;
    height: 200px;
    position: relative;
}

audio {
    outline-color: transparent !important;
    width: 100%;
}

/* article page */

.article-card {
    padding: 2rem;
}

/* footer */

.footer-social-btn {
    font-size: 1.5rem;

}

.link-animated {
    position: relative;
}

.link-animated::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #bcac76;
    transition: width .5s;
    position: absolute;
    bottom: 0;
    right: 0;

}

.link-animated:hover::after {
    left: 0;
    width: 100%;
    transition: width .3s;
}

@media (max-width: 767.98px) {

    .footer-social-btn {
        font-size: 1rem;
    }
}


/*  slick slider */



 .slide {
        height: 80vh;

}

.slide {
    position: relative;
}
.slide .slide-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
}

.slide .slide-img {
    display: block;
    width: 100%;
    height: 85vh;
    opacity: 1 !important;
    animation-duration: 6s;


}



.slick-dotted .slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    bottom: 25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    border: 0;
    display: block;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    transition: all .3s ease;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.simple-dots .slick-dots li {
    width: 20px;
    height: 20px;
}
.simple-dots .slick-dots li button {
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.25;
    width: 20px;
    height: 20px;
}
.simple-dots .slick-dots li button:hover,
.simple-dots .slick-dots li button:focus {
    opacity: 1;
}
.simple-dots .slick-dots li.slick-active button {
    color: #ffffff;
    opacity: 0.75;
}
 .slick-dots li {
    height: 10px;
    width: 10px;
}
 .slick-dots li button {
    position: relative;
    background-color: #ffffff;
    opacity: 0.25;
    height: 10px;
    width: 10px;
    padding: 0;
    border-radius: 50%;
}
 .slick-dots li button:hover,
 .slick-dots li button:focus {
    opacity: 1;
}
 .slick-dots li.slick-active button {
    color: #ffffff;
    opacity: 0.75;
}
 .slick-dots li.slick-active button:hover,
 .slick-dots li.slick-active button:focus {
    opacity: 1;
}
/* /////////// IMAGE ZOOM /////////// */

@keyframes zoomInImage {
    0% {
        transform: scale3d(1, 1, 1);
        filter: brightness(1) ;

    }
    5% {
        transform: scale3d(1, 1, 1);
        filter: brightness(1) ;
    }
    35% {
        transform: scale3d(1.1, 1.1, 1.1);
        filter: brightness(0.7) ;

    }
    80% {
        transform: scale3d(1.1, 1.1, 1.1);
        filter: brightness(0.7) ;
    }
    100% {
        transform: scale3d(1, 1, 1);
        filter: brightness(1) ;
    }
}
.zoomInImage {
    animation-name: zoomInImage;
}



.btn-slider {
    color: #212529;
    border-color: #bcac76;
    border-radius: 0;
    background-color: #bcac76;
}

.btn-slider:hover {
    color: #bcac76;
    background-color: transparent;
    border-color: #bcac76;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    -webkit-transition: all 300ms !important;
    -moz-transition: all 300ms !important;
    -ms-transition: all 300ms !important;
    -o-transition: all 300ms !important;
    transition: all 300ms !important;

}

